.card-tasks .table-full-width .table tbody td,
.card-tasks .table-full-width .table tbody td p {
  text-align: left;
  background: none;
}
.card-tasks .card-header .title {
  background: none;
}
.col-management-table .table tbody tr td {
  background: none;
}
.col-management-table .card-body {
  height: 50vh;
  overflow: scroll;
}
@media only screen and (max-width: 425px) {
  .col-management-table .card-body .table tbody tr td,.col-management-table .card-body .table thead tr th{
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
  }
  #management-table-actions{
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
}
